body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.flex{
    display: flex;
    flex-direction: column;
}

.margin{
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

td {
    vertical-align: top;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#map {
    height: 500px;
    width: 100%;
    margin-top: 20px;
}
#title{
    margin: auto 25%;
    display: flex;
}
#searchInput {
    width: 50%; /* Adjust as needed */
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 24px; /* This gives the rounded corners */
    box-shadow: none;
    box-sizing: border-box;
    font-size: 16px; /* Adjust as needed */
    background-color: #fff;
    outline: none;
   
}

#searchInput::placeholder { /* Style for the placeholder text */
    color: #bbb;
    opacity: 1; /* Firefox */
}

#searchInput:focus {
    border-color: #4d90fe;
}